<div id="contenido-principal">
    <h2>FESTIVALS ELECTRONIC MUSIC</h2>
    <div class="noticias" id="noticias">
      <div class="noticia">
        <img src="https://media.resources.festicket.com/www/admin/uploads/images/Tomorrowland_CHoEw5P.jpg" width="350"
          height="250">
        <h3>TOMORROWLAND</h3>
        <p>El gigante del dance belga es, sin duda, el emperador de Europa y cada año atrae a amantes de la música
          electrónica de todo el mundo con sus famosos escenarios, producción visual y un cartel a rebosar de grandes
          nombres desde EDM hasta hardstyle. El festival ha organizado otros eventos en los cinco continentes, pero la
          fiesta original en la ciudad de Boom será siempre la más característica.</p>
        <a href="https://www.tomorrowland.com/global/" class="btn">TOMORROWLAND</a>
      </div>
      <div class="noticia">
        <img src="https://media.resources.festicket.com/www/admin/uploads/images/Awakenings_bufzAaz.jpg" width="350"
          height="250">
        <h3>Awakenings Festival</h3>
        <p>Otro veterano del panorama de festivales de música electrónica europeos. El mítico sello holandés ha
          celebrado más de 20 años combinando enormes carteles con espectaculares efectos para sus hordas de fans
          europeos. Los ocho escenarios y dos días de fiesta siempre ponen el centro en las figuras más importantes del
          tecno.</p>
        <a href="https://www.awakeningsfestival.nl/en/" class="btn">Awakenings Festival</a>
      </div>
      <div class="noticia">
        <img src="https://media.resources.festicket.com/www/admin/uploads/images/Sonar_6CnYChm.jpg" width="350"
          height="250">
        <h3>Sónar Festival</h3>
        <p>Música electrónica experimental desde un casi inigualable puñado de estilos y géneros. Sónar invade la ciudad
          de Barcelona (literalmente) durante un fin de semana. Las salas varían desde clubs y pubs hasta azoteas y
          piscinas y en la ciudad se reúnen profesionales de la industria y fans por igual para ser testigos y disfrutar
          de las nuevas tendencias y algunos de los nombres más respetados de la música electrónica.</p>
        <a href="https://sonar.es/" class="btn">Sónar Festival</a>
      </div>
      <div class="noticia">
        <img src="https://media.resources.festicket.com/www/admin/uploads/images/UltraEurope_dWl6oro.jpg" width="350"
          height="250">
        <h3>Ultra Europe</h3>
        <p> Y seguimos en Croacia. La edición europea del reconocido Ultra Music Festival trae a los nombres más
          importantes del EDM y big-room house a Split durante un fin de semana de producción a gran escala, grandes
          beats y abundancia de fiestas en barcos y en la playa. Desde su primera edición allá por 2013, el festival ha
          reunido a cientos de miles de fans del dance de más de 75 países, convirtiendo la fiesta en un gran
          espectáculo.</p>
        <a href="https://ultramusicfestival.com/" class="btn">Ultra Europe</a>
      </div>
      <div class="noticia">
        <img src="https://d49r1np2lhhxv.cloudfront.net/www/admin/uploads/images/EXITDanceArena.jpg" width="350"
          height="250">
        <h3>EXIT Festival</h3>
        <p> Exit Festival se ha convertido en uno de los más conocidos de Europa gracias a su siempre impresionante
          cartel y alucinante ubicación, una fortaleza del siglo XVIII en la ribera del Danubio. Aunque no se centra
          exclusivamente en la música electrónica, el escenario Dance Arena del festival es uno de los más famosos del
          panorama en todo el mundo.</p>
        <a href="https://www.exitfest.org/" class="btn">EXIT Festival</a>
      </div>
    </div>
    <!--.media-->

  </div>