@import "../../scss/variables";
@import "../../scss/mixins";
#section-2{
    @include bg_covertint ($r_blanco,$g_blanco,$b_blanco,$r_turquesa,$g_turquesa,$b_turquesa,$alpha_cover,$picture-dashboard);
    height: 100vh;
    top: 50;
    color: $blanco;
    h2{
        margin-bottom: 30px;
        margin-top: 70px;
    }
}