<body>
    <div id="section-2">
        <div class="content">
            <h1> Más Festivales</h1>
            <h5> Regístrate</h5>
            <form [formGroup]="loginform">
                <div class="form-element">
                    <input placeholder="Nombre" name="name" formControlName="name" type="text">*
                </div>
                <div class="form-element">
                    <input placeholder="Apellido" name="lastname" formControlName="lastname" type="text">*
                </div>
                <div class="form-element">
                    <input placeholder="Correo Electrónico" name="email" formControlName="email" type="text">*
                </div>
                <div class="form-element">
                    <input placeholder="Password" name="password" formControlName="password" type="password">*
                </div>
                <div class="form-element">
                    <button class="colorbutton white"(click)="validaLoginForm()">
                        Enviar Datos
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>