<body>
    <div id="section-2">
        <div class="content">
            <h1> Más Información </h1>
            <h3>Festivales.</h3>
            <p>La electrónica nunca ha perdido su relevancia y poder de convocatoria en la escena de festivales, y este
              año las
              citas se han multiplicado una vez más, creciendo en lo cuantitativo y lo cualitativo a lo largo y ancho de
              la
              geografía española y manteniendo una apertura estilística donde caben multitud de corrientes sónicas
              diferentes.</p>
            <form [formGroup]="formGroup">
                <div class="form-element">
                    <input placeholder="Nombre" name="name" formControlName="name" type="text">
                </div>
                <div class="form-element">
                    <input placeholder="Correo Electrónico" name="email" formControlName="email" type="text">
                </div>
                <div class="form-element">
                    <button type="submit"> Enviar Datos </button>
                </div>
            </form>
        </div>
    </div>
</body>