.galeria {
  @include clearfix;
  margin-left: 10%;
  li.imagen {
    float:left;
    list-style: none;
    @include gridImagenes(4, 1%);
    img {
      display: block;
      max-width: 100%;
      margin-top: 20%;
      @include border-radius(10px);
    }
  }
}
