@mixin tablet {
  @media only screen and (min-width: #{$tablet}) {
      @content;
  }
}

@mixin text_body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: $blanco;
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop}) {
      @content;
  }
}

@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

@mixin clearfix {
  &:after {
    content:"";
    display: table;
    clear: both;
  }
}
//formularios
@mixin invalid_required{
	@include text_body;
	font-size: 15px;
	position: absolute;
	color: red;
	margin: 0 10px;
}

@mixin body {
  	margin: 0;
  	padding: 0;
	font-family: $fuente-principal;
}

@mixin center-vertical {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

@mixin headers {
	font-size: 70px;
	text-align: center;
	margin-bottom: 10px;
	height: 50%;
	@include center-horizontal;
}

@mixin center-horizontal {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin bg-covertint ($r-from, $g-from, $b-from, $r-to, $g-to, $b-to, $alpha, $imgurl, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
	background: -webkit-linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment);
	background:    -moz-linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	background:      -o-linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	background:         linear-gradient(rgba($r-from, $g-from, $b-from, $alpha), rgba($r-to, $g-to, $b-to, $alpha)), url($imgurl) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
}

@mixin border-radius($border) {
  border-radius: $border;
}

@mixin gridImagenes($cantidad, $margin) {
    width: ((100% - (($cantidad - 1) * $margin))/$cantidad);
    &:nth-child(n) {
      margin-right: $margin;
      margin-bottom: $margin;
    }
    &:nth-child(#{$cantidad}n + 1) {
        margin-right:0;
        margin-bottom: 0;
    }
}

@mixin button ($colors...){
	@if $buttons {
		display: inline-block;
		margin : 1em;
		color: map-get($buttons-colors,nth($colors,1));
		a{
			text-decoration: none;
		}
		@if length($colors) > 1{
			@for $i from 2 through length($colors){
				&.#{nth($colors,$i)}{
					color:map-get($buttons-colors,nth($colors,$i));
				}
			}
		}
	}@else{
		display: none;
	}
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin placeholder ($color,$font-weight){
	::-webkit-input-placeholder {
		color: $color;
		font-weight: $font-weight;
	}

	:-moz-placeholder { /* Firefox 18- */
		color: $color;
		font-weight: $font-weight;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		color: $color;
		font-weight: $font-weight;
	}

	:-ms-input-placeholder {  
		color: $color; 
		font-weight: $font-weight;
	}
}
