
$azulOscuro:  #101068;
$amarillo:    #FFBA00;
$azul:        #0076A3;
$verde:       #548c27;
$rojo:        #ff0601c9;
$morado:      #6D73C2;
$negro:       #000000;
$rosa:        #ff0033;

$end: RGB(0, 1, 255);
$turquesa:   #1ABC9C;
$r_turquesa:26;
$g_turquesa:188;
$b_turquesa:156;

$deep_blue: #001656;
$r_deep_blue: 0;
$g_deep_blue: 22;
$b_deep_blue: 86;

$blanco:      #FDFEFE;
$r_blanco:0;
$g_blanco:30;
$b_blanco:145;

$light_blue: #4D86FF;
$r_light_blue: 25;
$g_light_blue: 117;
$b_light_blue: 255;

$alpha_cover: 0.6;

$color-fondo: $rosa;
$color-principal: $blanco;

$color-titulos: $blanco;

$fuente-titulos: 'Times New Roman', serif;
$fuente-principal: 'Open Sans', sans-serif;

$fondo-navegacion: $rojo;

$color-borde-noticia: $azul;
$color-header-noticia: lighten($blanco,10);
$color-texto-noticia:$blanco;

$fondo-boton: $rojo;
$texto-boton: $blanco;

$light:100;

$tablet: 768px;
$desktop: 1024px;

$picture-dashboard: '../../assets/img/imagen02.jpg';
$picture-section-1: '../../assets/img/images2.jpg';
$picture-section-3: '../../assets/img/images1.jpg';
//grid
$numero-columnas: 12;
$buttons: true !default;
$buttons-colors:(
    primario:blue,
    secundario:yellow,
    alerta:red,
    white: white,
)
